.tooltip-container {
	position: fixed;
	pointer-events: none;
	margin: 0;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.tooltip {
	--border-color: black;
	--background-color: white;
	--arrow-size: 10px;
	--arrow-top: 0px;
	--arrow-left: 0px;
	position: absolute;
	padding: 0.4rem;
	border: 1px solid var(--border-color);
	border-radius: 0.25rem;
	font-size: 0.75rem;
	max-width: 200px;
	user-select: none;
	background-color: var(--background-color);

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		width: 0;
		height: 0;
	}

	&::before {
		border: var(--arrow-size) solid;
		left: calc(var(--arrow-left) - 1px);
	}
	&::after {
		border: calc(var(--arrow-size) - 1px) solid;
		left: var(--arrow-left);
	}

	&.arrow-top {
		&::before,
		&::after {
			top: calc(var(--arrow-top) - 2px);
		}
		&::before {
			border-color: var(--border-color) transparent transparent;
		}
		&::after {
			border-color: var(--background-color) transparent transparent;
		}
	}

	&.arrow-bottom {
		&::before {
			border-color: transparent transparent var(--border-color);
			top: var(--arrow-top);
		}
		&::after {
			border-color: transparent transparent var(--background-color);
			top: calc(var(--arrow-top) + 2px);
		}
	}

	&.arrow-left {
		&::before,
		&::after {
			left: calc(var(--arrow-left) - 2px);
		}
		&::before {
			border-color: transparent transparent transparent var(--border-color);
			top: var(--arrow-top);
		}
		&::after {
			border-color: transparent transparent transparent var(--background-color);
			top: calc(var(--arrow-top) + 1px);
		}
	}

	&.arrow-right {
		&::before {
			border-color: transparent var(--border-color) transparent transparent;
			top: var(--arrow-top);
			left: var(--arrow-left);
		}
		&::after {
			border-color: transparent var(--background-color) transparent transparent;
			top: calc(var(--arrow-top) + 1px);
			left: calc(var(--arrow-left) + 2px);
		}
	}
}
